@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}  

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

html,
body {
  touch-action: manipulation;
  height: 100%;
}

body {
  margin: 0;
  background-color: #0b1220;
  font-family: "Nunito", "Segoe UI", system-ui, -apple-system, sans-serif; 
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100%;
}

#portal-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

